/* Color Pallete: https://color.adobe.com/mythemes */

:root {
    --background-color: #E4EBF2;
    --banner-background: #242526;
    --banner-text: rgb(236, 240, 243);
}

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--banner-text);
}

body {
    background-color: var(--background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: var(--banner-background);
    padding: 35px 20px;
    display: flex;
    width: 
}

/* Name / Logo to sit as square on top left. Idea is to have the text color match the header background color,
 and the block around it be the color of the header text */
#name-container {
    color: var(--banner-text);
    font-size: 24px;
    font-weight: bolder;
    position: absolute;
}

#top-nav {
    margin-left: auto;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    position: relative;
    color: var(--banner-text);
    padding: 12px;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    border-radius: 4px;
    text-transform: uppercase;
}

nav ul li a:before {
    position: absolute;
    content: '';
    left: 1;
    bottom: 0;
    width: 80%;
    height: 2px;
    background: var(--banner-text);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel {
    color: var(--banner-text);
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* HEADER styling ENDS here */

.main-content {
    display: flex;
}

.about-me {
    display: flex;
    width: 60%
}

.avatar {
    width: 500px;
    height: 500px;
    background: grey;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.description {
    margin: 0 0 0 40px;
}




/* FOOTER Styling below */


.footer {
    position: fixed;
    background-color: var(--banner-background);
    color: var(--banner-text);
    padding: 35px 20px;
    display: flex;
    bottom: 0;
    width: 100%;
}

.contact-me {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
}

.contact-info {
    display: inline-block;
    float: right;
}

/* Media Queries */

@media (max-width: 1118px) {
    h1 {
        left: 8%;
    }
}

@media (max-width: 944px) {
    h1 {
        left: 6%;
        top: 20px;
        width: 130px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 860px) {
    label #btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--banner-background);
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }

    #check:checked~label #btn {
        display: none;
    }

    #check:checked~label #cancel {
        display: block;
    }
}

/* Media query for top nav ends here */