/* Color Pallete: https://color.adobe.com/mythemes */

:root {
    --background-color: #E4EBF2;
    --banner-background: #242526;
    --banner-text: #ecf0f3;
}

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--banner-text);
}

main {
    height: 100vh;
}

body {
    line-height: 1.6;
    background-color: var(--background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ALlows main element to cover all the space of the screen looking at it */


.header {
    display: flex;
    position: fixed;
    background-color: var(--banner-background);
    padding: 35px 10px;
    width: 100%;
}

/* Name / Logo to sit as square on top left. Idea is to have the text color match the header background color,
 and the block around it be the color of the header text */
.logo-container {
    color: var(--banner-text);
    font-size: 24px;
    font-weight: bolder;
    position: absolute;
}

#top-nav {
    margin-left: auto;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    position: relative;
    color: var(--banner-text);
    padding: 12px;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    border-radius: 4px;
    text-transform: uppercase;
}

nav ul li a:before {
    position: absolute;
    content: '';
    left: 1;
    bottom: 0;
    width: 80%;
    height: 2px;
    background: var(--banner-text);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel {
    color: var(--banner-text);
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* HEADER styling ENDS here */

/* Main container STARTS here */


.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.left-column {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    border: 5px solid red;
    margin-top: 300px;

}

.avatar {
    display: flex;
    width: 100%;
    height: 600px;
    /* background: var(--banner-background); */
    max-width: 100%;
    max-height: 100%;
    background-image: url(./images/600x600\ logo.png);
    background-repeat: no-repeat;
    justify-content: center;
}

.name {
    display: flex;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 16px;
    
}

.center-column {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin-top: 300px;
    justify-content: flex-end;
    border: 5px solid red;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    margin-top: 300px;
    border: 5px solid red;
}


.right-column li {
    padding: 12px;
    margin-bottom: 3px;
    border: var(--banner-background) solid 4px;
    background-color: var(--banner-text);
    height: 30px;
    width: 400px;
    display: flex;
    justify-content: center;
}

.right-column li a {
    color: var(--banner-background);
}

.project-1 li {
    width: 400px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}


.resume {
    padding: 12px;
    height: 14px;
    font-size: 24px;
    width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 60px;
    border: var(--banner-background) solid 4px;
    background-color: var(--banner-text);
}


/* FOOTER Styling below */

.footer {
    background-color: var(--banner-background);
    color: var(--banner-text);
    padding: 50px 10px;
    display: flex;
    bottom: 0;
    width: 100%;
}

#footer {
    width: 100vw;
}

.contact-me {
    font-size: 24px;
    position: absolute;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}




/* Media Queries */

/* For main-content START */

/* @media (min-width: 320px) {
    .left-column {
        width: 95%;
        flex-direction: column;
        margin-top: 160px;
    }

    .center-column {
        width: 950%;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
    }

    .right-column {
        flex-direction: column;
        width: 95%;
        margin-top: 14px;
    }
    .main-content {
        margin-left: 0;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        align-content: center;
    } 
}



    @media (min-width:600px) {
        .left-column {
            width: 90%;
            flex-direction: column;
            margin-top: 170px;
        }

        .center-column {
            width: 90%;
            flex-direction: column;
            margin-top: 10px;
            align-items: center;
        }

        .right-column {
            flex-direction: column;
            width: 90%;
            margin-top: 14px;

        } 
         .main-content {
            margin-left: 0;
        } 
    


        @media (min-width:1025px) {}

        @media (min-width:1281px) {}


 */


/* For main-content END */


/* For top nav START */

@media (max-width: 1118px) {
    h1 {
        left: 8%;
    }
}

@media (max-width: 944px) {
    h1 {
        left: 6%;
        top: 20px;
        width: 130px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 860px) {
    label #btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--banner-background);
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }

    #check:checked~label #btn {
        display: none;
    }

    #check:checked~label #cancel {
        display: block;
    }
}

/* For top nav END */