/* Color Pallete: https://color.adobe.com/mythemes */

:root {
    --background-color: #E4EBF2;
    --banner-background: #242526;
    --banner-text: #ecf0f3;
}

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--banner-text);
}

main {
    min-height: 71vh;
}

body {
    line-height: 1.6;
    background-color: var(--background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header {
    display: flex;
    position: fixed;
    background-color: var(--banner-background);
    padding: 35px 10px;
    width: 100%;
    top: 0;
}

/* Name / Logo to sit as square on top left. Idea is to have the text color match the header background color,
 and the block around it be the color of the header text */
.logo-container {
    color: var(--banner-text);
    font-size: 24px;
    font-weight: bolder;
    position: absolute;
}

#top-nav {
    margin-left: auto;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    position: relative;
    color: var(--banner-text);
    padding: 12px;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    border-radius: 4px;
    text-transform: uppercase;
}

nav ul li a:before {
    position: absolute;
    content: '';
    left: 1;
    bottom: 0;
    width: 80%;
    height: 2px;
    background: var(--banner-text);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel {
    color: var(--banner-text);
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* HEADER styling ENDS here */

/* Main container STARTS here */


.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: 300px;
    align-items: flex-end;
}

.left-column {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    align-items:


}

.avatar {
    width: 100%;
    height: 600px;
    /* background: var(--banner-background); */
    max-width: 100%;
    max-height: 100%;
    background-image: url(./images/600x600\ logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.name {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 16px;
}

.center-column {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: flex-end;
    align-items: flex-start;
}

.description {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

.right-column {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-basis: 30%;
    margin-left: 20px;
    margin-right: 20px;
}

.right-column ul {
    text-align: center;
}

.projects-2-3-4-5 {
    padding: 14px;
    margin-bottom: 5px;
    border: var(--banner-background) solid 4px;
    height: 60px;
    width: 100%;
    justify-content: center;
    background-image: url(./images/600x600\ logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
}

.project-1 {
    padding: 30px;
    margin-bottom: 5px;
    border: var(--banner-background) solid 4px;
    background-color: var(--banner-text);
    height: 100px;
    width: 100%;
    justify-content: center;
    background-image: url(./images/button-1-image.png);
    width: 100%;
    height: 140px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 40px;
    font-weight: bolder;
}

.project-2 {
    padding: 30px;
    margin-bottom: 5px;
    border: var(--banner-background) solid 4px;
    background-color: var(--banner-text);
    height: 100px;
    width: 100%;
    justify-content: center;
    background-image: url(./images/ghBanner.png);
    width: 100%;
    height: 140px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 40px;
    font-weight: bolder;
    back
}

.resume {
    font-size: 22px;
    padding: 13px;
    height: 70px;
    margin-top: 100px;
    border: var(--banner-background) solid 4px;
    background-color: var(--banner-text);
    font-weight: bold;
}

.resume a {
    color: var(--banner-background);
}

/* FOOTER Styling below */

.footer {
    background-color: var(--banner-background);
    color: var(--banner-text);
    padding: 50px 10px;
    display: flex;
    bottom: 0;
    width: 100%;
}

.contact-me {
    font-size: 24px;
    position: absolute;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}




/* Media Queries */

/* For main-content START */



@media (max-width:1281px) {
    .main-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0px;
    }

    .left-column {
        margin-top: 160px;
        flex-basis: 40%;
    }

    .center-column {
        margin-top: 10px;
        flex-basis: 40%;

    }

    .right-column {
        flex-direction: column;
        margin-top: 30px;
        flex-basis: 80%;

    }

    .resume {
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .footer h2 {
        display: none;
    }
}




@media (max-width:1025px) {
    .main-content {
        flex-direction: column;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        margin-top: 0px;

    }

    .left-column {
        flex-basis: 40%;
        margin-top: 130px;
    }

    .center-column {
        flex-basis: 60%;
        align-items: center;
        justify-items: flex-start;
        margin-top: 20px;
        text-align: center;

    }

    .right-column {
        margin-top: 60px;
        flex-basis: 80%;
    }

    .resume {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .footer h2 {
        display: none;
    }
}

@media (max-width:768px) {
    .main-content {
        flex-direction: column;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 115px;

    }

    .left-column {
        margin-top: 40px;
    }

    .center-column {
        margin-top: 10px;
        text-align: center;

    }

    .right-column {
        margin-top: 30px;
    }

    .resume {
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .footer h2 {
        display: none;
    }

    .logo-container {
        display: none;
    }
}



/* For main-content END */





/* For top nav START */

@media (max-width: 1118px) {
    h1 {
        left: 8%;
    }
}

@media (max-width: 944px) {
    h1 {
        left: 6%;
        top: 20px;
        width: 130px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 469px) {
    label #btn {
        display: block;
    }

    .header ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--banner-background);
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }

    #check:checked~label #btn {
        display: none;
    }

    #check:checked~label #cancel {
        display: block;
    }
}

/* For top nav END */